body{
  margin: 5px;
  height: 100vh;  
  background:#E5E5E5; 
}
.bg{
background: #FAFFC1;
height: 100VH;
}

.list-group a:hover{
 background: #00C1FE !important;
} 

.card_student{
  background: #F0F9FF ;
  border-radius: 5%; }

 .card_student i{
  color: #74C1ED ;
 }

.card_cours{
 background: #FEF6FB;
 border-radius: 5%;
}

.card_cours i{
  color:  #EE95C5;
 }

.card_payment{
  background: #FEFBEC;
  border-radius: 5%;
 }

 .card_payment i{
  color: #00C1FE;
 }

 .card_user{
  background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
  border-radius: 5%;
 }

 .card_user i {
  color: white;
 }

 .sidebar{
   transition: 0.4s;
 }

#menu-btn{
  background-color: gray;
  color: #00C1FE;
}

@media screen and (max-width: 500px){
 
  .sorting{
    margin-right:70%;}
  
           
}
