body{

    margin: 5px;
    min-height: 100vh;
    background-color: white;
}

.admin h6{
    justify-content: center;
    align-items: center;
}

ul{
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
   
    background-color: #FAFFC1;
    transition: 0,4%;
}

.nav-link{
    font-size: 1em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
background-color: #00C1FE;
}
.container{
    margin-top: 100PX;

}
.row{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 500px) {
    
  
    
}