body{
    background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%) !important;
    padding-top: 10%;
}

form{
    background: white;
}

.form-container{
    border-radius: 15px;
    padding: 30px;
}
.form-container h1{
    font-weight: bold;
    border-left:#00C1FE solid 6px ;
}

.signin{
    text-align: center;
    padding: 30px;

}
.btn-primary{
    width: 100%;
    background-color: #00C1FE;
    border-color: #00C1FE;

}
.contact{
    text-align: center;
    padding: 20px;
}